.logout {
  margin-bottom: 10px;
  margin-top: 0px;
}

.update {
  font-weight: bold;
  text-align: center;
}
.confirmation {
  padding: 0 0 0 0;
  font-weight: bold;
  text-align: center;
}

.card {
  background: #FAFAFA;
  padding: 2em;
  border-radius: 40px;
  margin-bottom: 7px;
  display: grid;
}

.updateContainer {
  padding: 30px 10px 10px 10px;
  border-radius: 10px;
  background-color: beige;
}



p {
  margin-left: 20px;
}

button {
  margin-top: 10px;
}
