<span class="bikes-title">
  <h2>Bikes</h2>
</span>


<div *ngFor = "let bike of bikes; let i=index">
  <div class="border border-secondary card">

    <h2>{{bike.name}}</h2>
    <p><b>Kilometers:</b> {{bike.kms}} kms </p>
    <p><b>Station:</b> {{bike.station}} </p>
    <p><b>Description:</b> {{bike.description}}</p>
    <button class="btn btn-danger" (click)="confirmDelete(bike._id, i)"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Delete </button>

    <button class="btn btn-warning" (click)="triggerBind()"> Bind to a Station </button>
    <div class="stations-container" *ngIf="bindStation === true">
      <select class="browser-default custom-select" [(ngModel)]="selectedStation">
        <option value="5cab1451cb1298659cedd073">Arc de Triomf</option>
        <option value="5cab149ccb1298659cedd074">Plaça Catalunya</option>
        <option value="5cab14a8cb1298659cedd075">Les Corts</option>
      </select>
      <button class="btn btn-warning" (click)="triggerBind()"> Confirm Binding </button>

    </div>

  </div>
</div>
