<span class="products-title">
  <h2>Products</h2>
  <button type="button" class="btn btn-dark logout" (click)="goBack()">Log out</button>
</span>

<button type="button" class="btn btn-dark btn-lg btn-block add" (click)="triggerAdd()">Add new product</button>
<div class = "addContainer" *ngIf="addProcess === true">
  <label>Category</label>
  <select class="browser-default custom-select" [(ngModel)]="selectedCategory">
    <option value="computers">computers</option>
    <option value="accessories">accessories</option>
    <option value="phones">phones</option>
  </select>
  <br>
  <br>
  <form [formGroup]="addForm">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name"/>
    </div>
    <div class="form-group">
      <label>Price</label>
      <input type="number" class="form-control" formControlName="price"/>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" formControlName="description"/>
    </div>
    <button type="button" class="btn btn-dark btn-lg btn-block confirmation" (click)="addProduct()">Confirm Addition</button>
  </form>
</div>




<div *ngFor = "let product of products; let i=index">
  <input type="hidden" value="{{product._id}}">
  <div class="border border-secondary card">
    <span *ngIf="product.category === 'computers'"><img src="https://img.icons8.com/color/96/000000/laptop.png"></span>
    <span *ngIf="product.category === 'phones'"><img src="https://img.icons8.com/dusk/64/000000/cell-phone.png"></span>
    <span *ngIf="product.category === 'accessories'"><img src="https://img.icons8.com/ios/50/000000/headphones-filled.png"></span>
    <h2>{{product.name}}</h2>
    <p><b>Category:</b> {{product.category}}</p>
    <p><b>Price:</b> {{product.price}} €</p>
    <button class="btn btn-primary" [routerLink]="['/api/product', product._id]"><i class="fa fa-eye"></i>&nbsp;See product detail</button>
    <button class="btn btn-danger" (click)="confirmDelete(product._id, i)"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp; Delete </button>
  </div>
</div>
